$nim-blue: #1F2348;
$nim-blue-bg: radial-gradient(circle at bottom right, #260133, $nim-blue);
$nim-light-blue: #0582CA;
$nim-light-grey: rgba(31, 35, 72, 0.07);
$nim-grey: rgba(31, 35, 72, 0.27);
$nim-red: #D94432;

.nim-wgt {
  position: fixed;
  z-index: 10;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;

  * {
    box-sizing: border-box;
  }

  &--hidden {
    display: none !important;
  }

  &__fab {
    background: $nim-blue;
    background-image: $nim-blue-bg;
    box-sizing: border-box;
    border: 0 none;
    border-radius: 50%;
    padding: 12px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    transform: translateY(0px);
    box-shadow: 8px 8px 12px 0 rgba(0,0,0,0.09),
                8px 4px 12px 0 rgba(0,0,0,0.06);

    &:hover {
      transform: translateY(4px);
    }

    &__logo {
      width: 24px;
      height: 24px;
      text-align: center;
    }

    &__close {
      box-sizing: border-box;
      display: none;
      stroke: #fff;
      width: 24px;
      height: 24px;
      padding: 4px;
    }

    &--open &__logo {
      display: none;
    }

    &--open &__close {
      display: block;
    }

    &:active, &:focus {
      outline: none;
    }
  }

  &__window {
    background: #fff;
    color: $nim-blue;
    width: 100vw;
    max-width: 280px;
    border-radius: 8px;
    margin: 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
    max-height: 0;
    transition: opacity 0s,
                max-height 0.1s;
    opacity: 0;
    transform: translateY(16px);

    &--open {
      max-height: none;
      opacity: 1;
      transform: translateY(0px);
      transition: opacity 0.3s,
                  transform 0.3s;
      transition-delay: max-height 0.3s;
      margin: 12px 0 12px 12px;
    }
  }

  &__header {
    border-radius: 8px 8px 0 0;
    background: $nim-blue;
    background-image: $nim-blue-bg;
    height: 92px;
    padding: 16px 12px;

    &__title {
      background: transparent;
      border: 0 none;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      float: left;
      margin: 0;
      outline: none;
      cursor: pointer;

      &:active, &:focus {
        outline: none;
      }
    }

    &__logo {
      width: 24px;
      height: 24px;
      float: right;
      text-decoration: none;
    }
  }

  &__content {
    padding: 12px;
    margin-top: -48px;
  }

  &__card {
    border-radius: 4px;
    background: #fff;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

    &-content {
      margin-bottom: 16px;

      &-text {
        line-height: 1.4;
      }
    }
  }

  &__miner {
    position: relative;
  }

  &__help {
    p {
      margin: 0 0 8px;

      a {
        font-weight: bold;
        color: $nim-light-blue;
        text-decoration: none;

        &:hover {
          color: $nim-light-blue;
        }
      }
    }
  }

  &__adblock {
    h3 {
      margin-bottom: 12px;
    }

    b {
      font-weight: bold;
      color: $nim-red;
    }

    p {
      margin-bottom: 8px;
    }
  }

  &__settings {
    display: flex;
    position: relative;

    &__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      color: $nim-grey;
      letter-spacing: 0.05em;
      margin: 0 0 8px;
    }

    &__hashrate {
      width: 50%;

      &-value {
        font-size: 24px;
        font-weight: bold;
        margin-right: 4px;
      }

      &-label {
        font-size: 12px;
        text-transform: uppercase;
        color: #333;
      }
    }

    &__threads {
      width: 50%;
      padding-left: 12px;
      padding-top: 2px;

      &__counter {
        display: flex;
        align-items: center;
        height: 32px;

        &-value {
          padding: 2px 0;
          height: 28px;
          line-height: 24px;
          box-sizing: border-box;
          z-index: 2;
          margin: 0;
          text-align: center;
          font-weight: bold;
          width: 32px;
        }

        &-button {
          z-index: 5;
        }
      }
    }

    &__status {
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.8);
      opacity: 1;
      transition: opacity 0.3s;

      p {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }

      &--hidden {
        z-index: -5;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__button {
    background: $nim-light-grey;
    color: $nim-blue;
    border: 0 none;
    font-family: inherit;
    border-radius: 50px;
    padding: 8px 16px;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;

    &:active, &:focus {
      outline: none;
    }

    &:hover {
      background: $nim-grey;
    }

    &[disabled] {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }

    &--full {
      width: 100%;
    }

    &--square {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 24px;
      padding: 0;
      padding-bottom: 2px;
    }
  }

  @keyframes dot-loader-animation {
    15% { box-shadow: 10px -2px #3b3b3b; }
    30% { box-shadow: 10px 2px #3b3b3b; }
    0%, 45%, 100% { box-shadow: 10px 0 #3b3b3b; }
  }

  &__loader {
    position: relative;
    margin: 0 18px -8px 2px;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 10px 0 #3b3b3b;
    animation: dot-loader-animation 1s ease-in-out 0s infinite;
    animation-delay: 0.1s;

    &:before, &:after {
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      box-shadow: 10px 0 #3b3b3b;
      animation: dot-loader-animation 1s ease-in-out 0s infinite;
      content: '';
      position: absolute;
    }

    &:before {
      left: -8px;
      animation-delay: 0s;
    }

    &:after {
      left: 8px;
      animation-delay: 0.2s;
    }
  }

  @keyframes mining-animation {
    0% { transform: scale(0.9) }
    45% { transform: scale(0.9) }
    50% { transform: scale(1) }
    60% { transform: scale(0.9) }
    70% { transform: scale(0.9) }
    75% { transform: scale(1.02) }
    100% { transform: scale(0.9) }
  }

  &--mining {
    animation: mining-animation 1.5s ease-in-out 0s infinite;
  }
}
