$nim-blue: #1F2348;
$nim-blue-bg: radial-gradient(circle at bottom right, #260133, $nim-blue);
$nim-light-blue: #0582CA;
$nim-light-grey: rgba(31, 35, 72, 0.07);
$nim-grey: rgba(31, 35, 72, 0.27);

.nim-wgt {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;

  &--hidden {
    display: none !important;
  }

  &__fab {
    background: $nim-blue;
    background-image: $nim-blue-bg;
    box-sizing: border-box;
    border: 0 none;
    border-radius: 50%;
    padding: 12px;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    transform: translateY(0px);
    box-shadow: 8px 8px 12px 0 rgba(0,0,0,0.09),
                8px 4px 12px 0 rgba(0,0,0,0.06);

    &:hover {
      transform: translateY(4px);
    }

    &__logo {
      width: 24px;
      height: auto;
      text-align: center;
    }

    &__close {
      box-sizing: border-box;
      display: none;
      stroke: #fff;
      width: 24px;
      height: 24px;
      padding: 4px;
    }

    &--open &__logo {
      display: none;
    }

    &--open &__close {
      display: block;
    }

    &:active, &:focus {
      outline: none;
    }
  }

  &__window {
    background: #fff;
    color: $nim-blue;
    width: 100vw;
    max-width: 280px;
    border-radius: 8px;
    margin: 12px 0 12px 12px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important;
    display: none;

    &--open {
      display: block;
    }
  }

  &__header {
    border-radius: 8px 8px 0 0;
    background: $nim-blue;
    background-image: $nim-blue-bg;
    height: 80px;
    padding: 12px;

    &__title {
      background: transparent;
      border: 0 none;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      float: left;
      margin: 0;
      outline: none;
      cursor: pointer;
    }

    &__logo {
      width: 24px;
      height: 24px;
      float: right;
    }
  }

  &__content {
    padding: 12px;
    margin-top: -48px;
  }

  &__card {
    border-radius: 4px;
    background: #fff;
    padding: 16px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

    &-content {
      margin-bottom: 16px;
    }
  }

  &__miner {
  }

  &__help {
    p {
      margin: 0 0 8px;

      a {
        font-weight: bold;
        color: $nim-light-blue;
        text-decoration: none;

        &:hover {
          color: $nim-light-blue;
        }
      }
    }
  }

  &__settings {
    display: flex;

    &__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      color: $nim-grey;
      letter-spacing: 0.05em;
      margin: 0 0 8px;
    }

    &__hashrate {
      width: 50%;

      &-value {
        font-size: 24px;
        font-weight: bold;
        margin-right: 4px;
      }

      &-label {
        font-size: 12px;
        text-transform: uppercase;
        color: #333;
      }
    }

    &__threads {
      width: 50%;
      padding-left: 12px;

      &__counter {
        display: flex;
        align-items: center;
        height: 32px;

        &-value {
          padding: 2px 0;
          height: 28px;
          line-height: 24px;
          box-sizing: border-box;
          z-index: 2;
          margin: 0;
          text-align: center;
          font-weight: bold;
          width: 32px;
        }

        &-button {
          z-index: 5;
        }
      }
    }
  }

  &__button {
    background: $nim-light-grey;
    color: $nim-blue;
    border: 0 none;
    font-family: inherit;
    border-radius: 50px;
    padding: 8px 16px;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;

    &:active, &:focus {
      outline: none;
    }

    &:hover {
      background: $nim-grey;
    }

    &--full {
      width: 100%;
    }

    &--square {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 24px;
      padding: 0;
      padding-bottom: 2px;
    }
  }
}
